/* html {
  scrollbar-gutter: stable;
} */
:root {
  --bs-primary-rgb: 245, 85, 85;
}

* {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  box-sizing: border-box;
  height: fit-content !important;
  transition: 0.3s;
  .text {
    color: black !important;
  }
}

body.dark {
  background: black;
  .bg-light {
    background-color: #111 !important;
  }
  .text {
    color: white !important;
  }
}

.page {
  min-height: calc(100vh - 70px);
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
}
.w-full {
  width: 100vw;
}
