/* html {
  scrollbar-gutter: stable;
} */
:root {
  --bs-primary-rgb: 245, 85, 85; /* Replace with your desired RGB color values */
}

body {
  box-sizing: border-box;
  transition: 0.3s;
  .text {
    color: black !important;
  }
}

body.dark {
  background: black;
  .bg-light {
    background-color: #111 !important;
  }
  .text {
    color: white !important;
  }
}
